.carouselcontainer{
    padding: 10px 90px;
}

.react-multiple-carousel__arrow{
    top: 35%;
    background-color: grey;
    opacity: 60%;
}

@media screen and (max-width: 680px) {
    .carouselcontainer{
        padding: 10px 40px;
    }
}
