nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    font-size: 18x;
    height: 30px;
    align-items: center;
    padding: 0 100px;
    font-weight: 500;
}

.topics {
    display: flex;
    gap: 80px;
}

a{
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 1024px) {
    .topics{
        gap: 50px;
    }
}

@media screen and (max-width: 576px) {
    nav{
        flex-direction: column;
        gap: 10px;
        height: 50px;
        padding: 10px 0;
    }
}