.cardcontainer{
    padding: 0 10px;
}

.cardimage{
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.cardtitle{
    margin: 0;
    padding: 0;
}

.carddetails{
    padding-top: 5px;
    font-size: 14px;
}

.postCardDate{
    color: gray;
}